@import "css-generics";

.player {
	bottom: 0;
	position: fixed;
	right: 0;
	top: 15vh;
	left: 0;
	margin: auto;
	width: 70vw;
}

.player *:focus {
	outline: none;
}

.player.minimized {
	bottom: 3vh;
	left: initial;
	top: initial;
	width: 40vw;
	right: 1vw;
}

.cloak {
	background-color: hsl(0, 0%, 0%);
	height: 100%;
	left: 0;
	opacity: .95;
	position: fixed;
	top: 0;
	width: 100%;
	visibility: visible;
	z-index: 2;
}

.cloak.off {
	opacity: 1;
}

.player.fullscreen .cloak,
.player.minimized .cloak {
	display: none;
}

.controls {
	display: grid;
	grid-auto-flow: column;
	position: relative;
	justify-content: flex-end;
	z-index: 3;
}

.controls button,
.controls select,
.controls select option {
	background-color: rgb(0, 0, 0);
	border:none;
	color: rgba(255, 255, 255, .8);
	padding: 4px 10px;
}

.controls select option.watched {
	color: rgba(255, 255, 255, 0.4);
}

.controls button:hover {
	background-color: hsl(0, 0%, 3%);
}

.controls button.special,
.controls select.special {
	border-bottom-color: rgb(163, 46, 46);
}

.controls button:disabled,
.controls select optgroup:disabled,
.controls select option:disabled,
.controls select:disabled {
	background-color: hsl(0, 0%, 18%)!important;
	border-bottom: 2px solid rgb(89, 89, 89)!important;
	border-left-color: hsl(0, 0%, 20%)!important;
	border-right-color: hsl(0, 0%, 20%)!important;
	border-top-color: hsl(0, 0%, 20%)!important;
	color: hsl(0, 0%, 32%)!important;
}

.controls select option:checked {
	background-color: hsl(0, 0%, 14%);
}

.controls select:nth-of-type(1) {
	flex-grow: 1;
}

.controls button:focus,
.controls select:focus {
	background-color: rgb(33, 33, 33);
}

.player .interface,
.player .media {
	background-color: hsl(0, 0%, 0%);
	border: none;
	box-shadow: 1px 1px 5px;
	height: 65vh;
	overflow: auto;
	padding: 0;
	position: relative;
	z-index: 2;
}

.help {
	display: none;
	width: 100%;
}

.player.show_help .help {
	display: block;
}

.player.show_help .media {
	display: none;
}

.player.minimized .media {
	height: 35vh;
	border-bottom: initial;
}

.media .overlay {
	background-color: hsl(0, 0%, 0%);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	display: none;
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 3;
}

.media.error .overlay,
.media.initializing .overlay,
.media.loading .overlay {
	display: block;
}

.hide-cursor {
	cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="), pointer;
}

.player.fullscreen {
	top: 0;
	height: 100%;
	width: 100%;
}

.player.fullscreen .media {
	height: 100%;
	width: 100%;
}

.player.fullscreen .controls {
	display: none;
}

.player .media video {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.player .media.buffering .overlay {
	display: block;
	opacity: 0.2;
}

.player .media.buffering .overlay,
.player .media.loading .overlay {
	background-image: url(./resource/loading.gif);
}

.player .media.error .overlay {
	background-image: url(./resource/error.gif);
}

.player .video_hud {
	align-items: center;
	background: linear-gradient(0deg, hsla(0, 0%, 0%, 0.6) 0%, transparent 80%);
	bottom: 0;
	grid-gap: 5px;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: auto 1fr auto auto auto auto auto;
	left: 0;
	padding: 10px;
	position: absolute;
	margin: 0;
	width: 100%;
	color: white;
	z-index: 2;
}

.player .video_hud.visible {
	opacity: 1;
	transition: opacity 0.2s ease-in;
	visibility: visible;
}

.player .video_hud.hidden {
	opacity: 0;
	transition: visibility 0s 1.0s, opacity 0.2s ease-out 0.4s;
	visibility: hidden;
}

.player .video_hud .seekbar {
	display: grid;
	height: 100%;
	grid-template-columns: subgrid;
}

.player .video_hud button {
	background-color: transparent;
	border: none;
	font-size: 1.3em;
	color: hsla(0, 0%, 100%, 0.8);
	cursor: pointer;
	padding: 0;
	margin: 0;
}

.player .video_hud button:hover {
	color: hsla(0, 0%, 100%, 1);
}

.player .video_hud input[type=range] {
	background-color: transparent;
	border: 1px solid #404040;
	appearance: none;
	cursor: pointer;
	height: 100%;
	margin: 0;
	padding: 0;
}

.player .video_hud input[type=range]::-moz-range-track {
	height: 100%;
}

.player .video_hud input[type=range]::-webkit-slider-runnable-track {
	height: 100%;
}

.player .video_hud input[type="range"]::-moz-range-thumb {
	width: 1px;
	height: 100%;
	background-color: #404040;
	appearance: none;
}

.player .video_hud input[type="range"]::-webkit-slider-thumb {
	width: 1px;
	height: 100%;
	appearance: none;
	background-color: #404040;
}
